body {
    background-color:#00013E;
}

.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    /* Cor escura para contraste */
}

.navbar_menu img {
    width: auto;
    height: 20vh;
    object-fit: cover;
}

.card-img-top {
    width: 50%;
    height: 50%;
    /* border:50px solid rgb(203, 14, 14); */
    object-fit: cover;
 
}

/*Inicio dos Estilos da tela Inserir Alunos*/

.info-row {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os itens se movam para a linha seguinte se não houver espaço */
    justify-content: space-between;
    /* Distribui o espaço entre os itens igualmente */
}

.info-col {
    flex: 1;
    /* Permite que as colunas ocupem o mesmo espaço */
    min-width: 0px;
    /* Define uma largura mínima para as colunas */
    margin: 0.5rem 0;
    /* Adiciona margem vertical entre as colunas */
    /* border: solid; */
    margin: 3px;
}

.mb-4 {
    margin-top: -20px;
}

.form-label{
    color:#fff;
}


/*Inicio estilos menuatualizarAluino*/

.foto-aluno {
    width: 30px;
    height: 30px;
}

.btn-secondary {
    margin-left: 900px;
    border: solid red;
}

.table img.foto-aluno {
    width: 30px;
    height: 30px;
    object-fit: cover; /* Garante que a imagem mantenha as proporções e não fique distorcida */
}

.table th, .table td {
    text-align: center;
}

.navbar_menu img {
    width: 170px; /* Ajuste conforme necessário */
}
/* 
h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
} */

.page-link{
    
    background-color: #00013E;
    color: #fff;
    border: none;
}

